<div class="container full" >
    <div class="row  topbar">

            <img src="assets/images/topLogo.png" class=" col-md-4 col-md-offset-4 toplogo ">
            <i class="fa fa-cog fa-2x col-md-4 setting "></i>

    </div>
    <nav class="row">
            <li class="col-xs-4 topTool">Crew</li>
            <li class="col-xs-4 topTool">Hot</li>
            <li class="col-xs-4 topTool">New</li>
    </nav>

    <div class="row feed" ng-repeat="poll in polls">

        <div class=" col-xs-offset-1 col-xs-10 feed-question">
          {{poll.question}}
        </div>
        <div ng-if="poll.voteType == 'images'">
          <div class="col-xs-6 ">
              <img src="assets/images/red.jpeg" class=" feed-img-red">
          </div>
          <div class="col-xs-6  ">
              <img src="assets/images/blue.jpeg" class=" feed-img-blue">
          </div>
        </div>
        <div ng-if="poll.voteType == 'text'">
          <div class="col-xs-6 ">
               <div class=" feed-text-red">{{ poll.option1 }}</div>
          </div>
          <div class="col-xs-6  ">
               <div class=" feed-text-blue">{{ poll.option2 }}</div>
          </div>
        </div>
        <div class="col-xs-6  ">
             <div class=" feed-text-votes">{{ poll.option1Count + poll.option2Count }}/{{ poll.limitVotes}}</div>
        </div>
        <div class="col-xs-6  feed">
             <div class=" feed-text-time"></div>
        </div>
        <hr>
    </div>

    <nav class="row">
        <li class="col-xs-4 topTool"><a href="/">Feed</a></li>
        <li href="/ask" class="col-xs-4 topTool"><a href="/ask">Ask</a></li>
        <li href="/me" class="col-xs-4 topTool"><a href="/me">Me</a></li>
    </nav>
</div>
