<nav class="row  topbar navbar navbar-default navbar-fixed-top">
    <img src="assets/images/topLogo.png" class=" col-md-12 toplogo ">
</nav>
<div class="container">
  <form>
       <input type="text"  ng-model="poll.question" class="form-control mainTextFrom" name="quetion" placeholder="Your Question">

       <input type="text"  ng-model="poll.option1" class="form-control optionTextFrom" name="option1" placeholder="Option 1">

       <input type="text"  ng-model="poll.option2" class="form-control optionTextFrom" name="option2" placeholder="Option 2">
       </div>

       <div class="col-xs-12 ">
           <button class="btn ">Enter max number of votes</button>
           <input type="text" class="form-control" ng-model="poll.limitVotes"></input>
       </div>
       <!--<div class="col-md-12 ">
           <button class="btn ">facebook</button>
       </div>-->
       <div class="col-md-12  ">
           <button ng-click="create(poll)" class="btn shoot">Shoot</button>
       </div>
    </form>

</div>
<nav class="row navbar navbar-default navbar-fixed-bottom text-center">
       <li class="col-xs-12 topTool"><a href="/">Cancel</a></li>
</nav>
