
  <nav class="row  topbar navbar navbar-default navbar-fixed-top">
    <div class="row top">
          <img src="assets/images/topLogo.png" class=" col-xs-8 toplogo ">
          <!--<i class="fa fa-cog fa-2x col-xs-3 setting "></i>-->
    </div>
    <!--<div class="row">
            <li class="col-xs-4 topTool">Crew</li>
            <li class="col-xs-4 topTool">Hot</li>
            <li class="col-xs-4 topTool">New</li>
    </div>-->
  </nav>
  <div class="container full feedwall">
    <div class="row feed" ng-repeat="poll in polls | orderBy: '_id':true">

        <div class=" col-xs-offset-1 col-xs-10 feed-question">
          {{poll.question}}
        </div>
        <div ng-if="poll.voteType == 'image'">
          <div class="col-xs-6">
              <img ng-click="voteOption1(poll)" ng-src="{{ 'https://s3.amazonaws.com/choicetheapp-assets/' + poll.option1 }}" class=" feed-img-red">
              <div ng-if="voted($index, poll)">{{ poll.option1Count/(poll.option1Count + poll.option2Count)*100 | number: 0}}%</div>
          </div>
          <div class="col-xs-6">
              <img ng-click="voteOption2(poll)" ng-src="{{ 'https://s3.amazonaws.com/choicetheapp-assets/' + poll.option2 }}" class=" feed-img-blue">
              <div ng-if="voted($index, poll)">{{ poll.option2Count/(poll.option1Count + poll.option2Count)*100 | number: 0}}%</div>
          </div>
        </div>
        <div ng-if="poll.voteType == 'text'">
          <div class="col-xs-6">
               <div ng-click="voteOption1(poll)" class=" feed-text-red">{{ poll.option1 }}</div>
               <div ng-if="voted($index, poll)">{{ poll.option1Count/(poll.option1Count + poll.option2Count)*100 | number: 0}}%</div>
          </div>
          <div class="col-xs-6">
               <div ng-click="voteOption2(poll)" class=" feed-text-blue">{{ poll.option2 }}</div>
               <div ng-if="voted($index, poll)">{{ poll.option2Count/(poll.option1Count + poll.option2Count)*100 | number: 0}}%</div>
          </div>
        </div>
        <div class="col-xs-12">
             <div class=" feed-text-votes">{{ poll.option1Count + poll.option2Count }}/{{ poll.limitVotes}}</div>
             <div class=" feed-text-votes">made by {{poll.username}}</div>
        </div>
        <!--<div class="col-xs-6  feed">
             <div class=" feed-text-time"></div>
        </div>-->
        <hr>
    </div>
    <nav class="row navbar navbar-default navbar-fixed-bottom text-center">
        <li class="col-xs-4 topTool"><a href="/">Feed</a></li>
        <li class="col-xs-4 topTool"><a href="/ask">Ask</a></li>
        <li class="col-xs-4 topTool"><a href="/me">Me</a></li>
    </nav>
</div>
