<div ng-include="'components/navbar/navbar.html'"></div>
<h1 class="page-header">Timeline</h1>
<div class="container">
  <div class="row" ng-repeat="poll in polls">
        <p>{{poll.question}}</p>
        <a ng-click="voteOption1($index)"class="btn btn-default" href="#" role="button">yes</a>
        <p>{{poll.option1Count}}</p>
        <a class="btn btn-default" href="#" role="button">no</a>
        <p>{{poll.option2Count}}</p>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Choice the App |
        <a href="https://twitter.com/choice">@choicetheapp</a></p>
  </div>
</footer>
